 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
/* tasks1 */
.flexbox{
    background-color: purple;
    height: 500px;
    width: 1500px;
    display: flex;
}
.flexbox div{
       width: 200px;
       height: 200px;
       background-color: white;
       padding: 5px;
       margin: 20px;
}
/* tasks2 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
  }
  .logo {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
  }
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .nav-links li {
    margin-left: 70px;
    margin-right: 50px;
  }

/* tasks3 */
.div{
    border: 3px solid #84e1e1;
   display: flex;
   height: 400px;
   width: 400px;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   margin: auto;
}
.div1{
    background-color:dodgerblue ;
    color: white;
    padding: 20px;
    font-size: 30px;
}
/* tasks4 */
.content{
    display: flex;
    
}
.content div{
    background-color:#0088cc ;
    height: 250px;
    width: 200px;
    padding: 10px;
    margin: 3px;
    font-size: 20px;
    color: white;
    border-radius:  10px;
}
/* tasks5 */
.r0{
    display: flex;
    width: 600px;
    height: 0;
    margin: 10px;
    padding: 15px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}
.r{
    background-color: rgb(60, 60, 145);
    color: white;
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}
.r4{flex-basis: 120px;}
.r5{flex-basis: 150px;}
.r6{flex-basis: 120px}
.r7{flex-basis: 150px;}
.r8{flex-basis: 150px;}
.r9{flex-basis: 130px;}
.r10{flex-basis: 140px;}



/* tasks6 */
.align-self{
    border: 4px solid orange;
    width: 1400px;
    height: 700px;
    display: flex;
}

.align-self div{
    width: 40px;
    height: 40px;
}

.align-self1{
    background-color: mediumseagreen;
    margin-top: 20px;
}

.align-self2{
    background-color:#84e1e1;
}

.align-self3{
    background-color:rgb(129, 62, 129);
}

.align-self4{
    background-color: rgb(208, 123, 123);
    align-self: stretch;
    height: auto !important;
}


.align-self5{
    background-color: yellow;
    align-self: center;
}
.align-self6{
    background-color: orange;
}
.align-self7{
    background-color: red;
}
.align-self8{
    background-color: rgb(138, 136, 136);
}
.align-self9{
    background-color: green;
}
.align-self10{
    background-color: mediumseagreen;
    align-self: flex-end;
}
/* tasks7 */
.direction{
    border: 4px solid orange;
    display: flex;
    width: 700px;
    height: 700px;
    flex-direction: column;
    margin: auto;

}
.direction div{
    height: 100px;
    text-align-last: center;
    color: white;
    font-size: 60px;
}
   
.direction1{
    background-color: mediumseagreen;
}
.direction2{
   background-color: #84e1e1;
}
.direction3{
    background-color: rgb(129, 62, 129);
}
.direction4{
    background-color: dimgray;
}
.direction5{
    background-color: yellow;
}
.direction6{
    background-color: orange;
}
.direction7{
    background-color: red;
}
.direction8{
    background-color: rgb(138, 136, 136);
}
.direction9{
    background-color: green;
}
.direction10{
    background-color: mediumseagreen;
}
/* tasks8 */
.control{
    display: flex; 
    background-color: lightblue;
}
.control div{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
   width: 100px;
   font-size: 30px;
   color: white;
}
.control1{
    flex: 4;
    background-color: aquamarine;
    
}
.control2{
    flex: 1;
    background-color: rgba(73, 174, 241, 0.822);
}
/* tasks9*/
.flex-wrap{
    border: 4px solid orange;
    display: flex;
    width: 410px;
    height: 370px;
    flex-flow: row wrap;
   margin: auto;
}
.flex-wrap div{
   width: 30%;
   height: 80px;
   text-align: center;
   line-height: 90px;
 
}
.flex-wrap1{
    background-color: mediumseagreen;
    margin: auto;
    padding: 5px;
}
.flex-wrap2{
    background-color: #84e1e1;
    margin: auto;
    padding: 5px;
}
.flex-wrap3{
    background-color: rgb(129, 62, 129);
    margin: auto;
    padding: 5px;
}
.flex-wrap4{
    background-color: dimgray;
    margin: auto;
    padding: 5px;
}
.flex-wrap5{
    background-color: yellow;
    margin: auto;
    padding: 5px;
}
.flex-wrap6{
    background-color: orange;
    margin: auto;
    padding: 5px;
}
.flex-wrap7{
    background-color: red;
    margin: auto;
    padding: 5px;
}
.flex-wrap8{
    background-color: rgb(138, 136, 136);
    margin: auto;
    padding: 5px;
}
.flex-wrap9{
    background-color: green;
    margin: auto;
    padding: 5px;
}
.flex-wrap10{
    background-color: mediumseagreen;
    padding: 5px;
    margin:2px;
}
/* tasks10 */
.webpage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px;
}
.webpage ul{
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    word-spacing: 5px;
    gap: 30px;
}
.webpage11{
   
 text-align: center;
}
.navbars0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
   
  }
  .navbars0 ul{
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    gap: 30px;
  }
  /* tasks11 */
  .contariner{
    display:flex ;
    justify-content: center;
    flex-direction: column;
    width: 40%;
   
    }
  .contariner .row{
     display: flex;
     gap: 3px;
  }
  .contariner .row .item1{
     width: 25%;
     height: 100px;
    background-color: white;
    border: 3px solid gray;
    
  }
  .contariner .row .item2{
    display: flex;
    flex-wrap: wrap;
    
  }
  .contariner .row .item2 div{
    width: calc((100% / 2) - 2px);
    height: 50px;
    border: 3px solid gray;
    
  }
  .contariner .row .item3{
    display: flex;
    flex-wrap: wrap;
    
}
.contariner .row .item3 div{
    width: calc((100% / 2) - 2px);
    height: 50px;
    border: 3px solid gray;
}
.contariner .row .item4{
    width: 25%;
   height: 100px;
   background-color: white;
   border: 3px solid gray;
   
 }

 .contariner .row2{
    display: flex;
    gap: 3px;
 }
 .contariner .row2 .item5{
    width: 25%;
    height: 100px;
   background-color: white;
   border: 3px solid gray;
 }

 .contariner .row2 .item6{
    display: flex;
    flex-wrap: wrap;
 }
 .contariner .row2 .item6 div{
    width: calc((100% / 2) - 2px);
    height: 100px;
    border: 3px solid gray;
   
  }

  .contariner .row2 .item7{
    display: flex;
    flex-wrap: wrap;
    
 }
 .contariner .row2 .item7 div{
    width: calc((100% / 2) - 2px);
    /* height: 50px; */
    border: 3px solid gray;
    
  } 
  .contariner .row2 .item8{
    width: 25%;
    height: 100px;
   background-color: white;
   border: 3px solid gray;
 }

 .contariner .row3{
    display: flex;
    gap: 3px;
 }

 .contariner .row3 .item9{
    display: flex;
    flex-wrap: wrap;
    
  }
  .contariner .row3 .item9 div{
    width: calc((100% / 2) - 2px);
    height: 50px;
    border: 3px solid gray;
    
  }

  .contariner .row3 .item10{
    width: 25%;
    height: 100px;
   background-color: white;
   border: 3px solid gray;
 }

 .contariner .row3 .item11{
    width: 25%;
    height: 100px;
   background-color: white;
   border: 3px solid gray;
 }

 .contariner .row3 .item12{
    display: flex;
    flex-wrap: wrap;
    
  }
  .contariner .row3 .item12 div{
    width: calc((100% / 2) - 2px);
    height: 50px;
    border: 3px solid gray;
    
  }

/* tasks12 */
.body{
    background-color: black;
}
 .header{
    display: flex;
    justify-content: space-between;
} 
.imgyoutube{
  width: 100px;
  height: auto;
  margin: 10px;
}
input{
    background-color: #121212;
    border-radius: 18px;
    margin: 8px 0;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    width: 400px;
    border: 1px solid #838383;
}
.image2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}
.button{
    width: 99px;
    /* background-color: #272727; */
    border: 0px;
    border-radius: 30px;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 14px;
}
.image1{
    width: 20px;
    height: 20px;
   
    
} 
 .list{
    width: 17%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
} 
.list1{
    list-style: none;
}
 .li1{
    width: 30px;
    height: 30px;
    /* position:sticky;  */
    right: 30px;
} 
.li{
   margin-bottom: 10px;
}
.me{
    position: relative;
    bottom: 10px;
    margin-left: 30px;
    right: 30px;
}
.create{
    position: relative;
    bottom: 4px;
}
.hr{
    width: 70%;
    position: relative;
    right: 20px;
    background-color: #484848;
}
.h3{
    position: relative;
    left: 20px;
}
.sidebar{
    display: flex;
    flex-direction: row;
}
.main-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center ;
}  